html, body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

.intro {
    background: #7FDBFF;
    padding-top: 45vh;
    min-height: 55vh;
}

.intro p {
    color: white;
    padding-bottom: 15px;
}

nav ul {
    text-align: right;
    position: fixed;
    width: 100%;
    background-color: white;
}

nav ul li {
    display: inline-block;
    margin: 20px;
}

nav ul li a {
    color: #001f3f;
    text-decoration: none;
}

.work {
    padding-top: 60px;
    margin-top: -60px;
    min-height: 93vh;
}


.work .work-header {
    margin-top: 35px;
    color: #001f3f;
    font-weight: normal;
}

.project {
    text-decoration: none;
    color: #001f3f;
    display: inline-block;
    overflow: hidden;
    border: 1px solid #001f3f;
    border-radius: 10px;
    height: 200px;
    width: 280px;
    margin: 40px 50px;
}

.project-pic {
    height: 160px;
    width: 100%;
    border-bottom: 1px solid #001f3f;
}

.project-title {
    margin: 5px;
}

.show-all {
    text-decoration: none;
    display: block;
    width: 200px;
    height: 30px;
    margin: 20px auto 20px;
    background: #e0ebe8;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    padding-top: 10px;
}

.show-all:hover {
    background: #E4F1FE;
}

@media only screen and (max-width: 500px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        margin: 20px;
    }

    .project {
        margin: 40px 0;
    }
}

.contact {
    background: #7FDBFF;
    padding: 18px;
    height: 130px;
}

.contact p {
    color: white;
}

.header {
    padding: 20px 0 20px;
}

.contact-details {
    display: inline-block;
    font-weight: bold;
    margin: 0 8px 20px 8px;
    list-style-type: none;
    width: 75px;
    height: 40px;
    line-height: 40px;
    color: #001f3f;
    text-decoration: none;
    font-size: 16px;
}