html {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background: #FFFF00;
}

#description {
    max-width: 500px;
    text-align: center;
    display: inline-block;
}

.outer {
    background-color: #DDDDDD;
    margin: 0 auto;
    border-radius: 8px;
    width: 75%;
    max-width: 800px;
    padding: 10px;
}

.labels {
    display: inline-block;
    text-align: right;
    width: 40%;
    padding: 5px;
    vertical-align: top;
    margin-top: 10px;
}

.entries {
    display: inline-block;
    text-align: left;
    width: 48%;
    vertical-align: middle;
}

.input-field {
    height: 20px;
    width: 80%;
    padding: 5px;
    margin: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 2px;
}

.userRatings, input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

#submit {
    background-color: #000000;
    border-radius: 8px;
    color: white;
    font-size: 1em;
    height: 40px;
    width: 90%;
    margin: 10px;
}

.dropdown {
    height: 30px;
    width: 105px;
    margin: 10px;
}

.radio, .checkbox {
    position: relative;
    left: -43px;
    margin-left: 10px;
    display: block;
    padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .labels {
        width: 100%;
        text-align: left;
    }
    .entries {
        width: 90%;
        float: left;
    }
    .input-field {
        width: 100%;
    }
    select {
        width: 100%;
    }
}
