html {
    font-family:"Montserrat", sans-serif;
    text-align: center;
    min-width: 260px;
    color: #001f3f;
    background: #ffffff;
}

body {
    border-radius: 20px;
    background: #9ae2ff;
    padding: 20px;
    margin: 10px;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

#img-div{
    margin: 30px auto auto;
    max-width:600px;
}

#img-caption{
    margin:15px;
}

#headline{
    margin-top: 50px;
    text-align: left;
}

h5 {
    max-width: 600px;
    margin: auto;
    text-align: left;
    font-size: 0.88em;
}

blockquote {
    font-style: italic;
    max-width: 600px;
    margin: auto;
    text-align: center
}